@use "home";
@use "formStyle";

@tailwind base;
@tailwind components;
@tailwind utilities;


body * {
    box-sizing: border-box;

    //the font for the website
    font-family: "Titillium Web", sans-serif;
}

//removes margin from the body
body {
    //wippety wappety wine your margin is now mine
    margin: 0;
}

//navbar styling
header {
    position: relative;
    height: 3em;
    width: 100%;

    nav {
        padding: 0 !important;
        position: relative;
        display: flex;
        z-index: 1;

        //hides the navbar + animation for smooth appearance
        //translate moves the navbar -100% on the y level so off the screen out of sight of the user
        translate: 0% -100%;
        transition: translate 0.5s ease, z-index -3s;


        //the navbar styling
        .menuNavbar {
            position: relative;
            margin: 0;
            width: 35%;
            background-color: #367571;
            height: 100vh;

            .menuNavbarUl {
                width: 100%;
                padding: 0;

                //the super ultra cool words that you can ALSO click on to redirect you to a different super ultra cool page™
                li {
                    list-style: none;
                    width: 100%;
                    display: flex;
                    margin-top: 4em;
                    justify-content: center;

                    a {
                        font-size: 2em;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                    }
                }
            }

            //bottom part of the navbar with the log in and sign up buttons
            .AccountNavbar {
                position: absolute;
                bottom: 4em;
                width: 100%;

                .navbarLine {
                    margin: auto;
                    width: 80%;
                    height: 5px;
                    background-color: white;
                    border-radius: 90px;
                }

                .AccountNavbarUl {
                    padding: 0;

                    li {
                        display: flex;
                        list-style: none;
                        justify-content: center;
                        width: 100%;
                        margin-top: 1em;

                        a {
                            font-size: 2em;
                            text-align: center;
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }

        //the black background on the left of the screen when navbar is shown
        .sideBackgroundNavbar {
            height: 100vh;
            width: 65%;
            background-color: rgba($color: #000000, $alpha: 0.5);
        }
    }

    //class given by js function that shows navbar
    .open {
        translate: 0 0 !important;
    }

    //styling of the hamburger icon on the top left of the screen (the 3 lines)
    .NavbarOpener {
        position: absolute;
        top: 0;
        margin: 1em;
        z-index: 2;
        cursor: pointer;

        //makes the lines transform into an X
        &.open:before {
            transform: translateY(13px) rotate(135deg);
            background: white;
        }

        &.open:after {
            transform: translateY(-12px) rotate(-135deg);
            background: white;
        }

        &.open div {
            transform: scale(0);
        }
    }

    .AccountNavbarMenu {
        position: absolute;
        top: 0;
        margin: 1em;
        right: 0;
        font-size: 1.2em;

        a {
            color: black;
            text-decoration: none;
        }
    }

    .NavbarOpener:before,
    .NavbarOpener:after,
    .NavbarOpener div {
        background: black;
        content: " ";
        display: block;
        height: 6px;
        width: 60px;
        border-radius: 3px;
        margin: 7px 0;
        transition: 0.5s;
    }
}

//footer styling
footer {
    .footerTopSection {
        margin: 0;
        width: 100%;
        padding: 0;
        background-color: #659B99;
        justify-content: space-between;
        color: white;
        padding: 3em;

        .footerLine {
            height: 100%;
            width: 5px;
            background-color: white;
        }
        //footer navbar styling
        .footerNavbar {
            ul {
                padding: 0;

                li {
                    display: flex;
                    list-style: none;
                    justify-content: end;
                    width: 100%;
                    margin-top: 1em;

                    a {
                        color: white;
                        font-size: 2em;
                        text-align: center;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        //footer contact information styling
        .footerContact {
            ul {
                padding: 0;
                li {
                    list-style: none;
                    text-align: start;
                    width: 100%;
                    margin-top: 1em;
                    color: white;
                    font-size: 1.2em;
                    strong{
                        font-size: 1.3em;
                    }
                    color: white;

                }
            }
        }

    }
    //footer gray bar styling
    .footerBottomSection {
        background-color: #2C2C2C;
        width: 100%;
        color: #A5A5A5;
        display: flex;
        flex-direction: column;

        a {
            color: #A5A5A5;
            width: 100%;
            text-align: center;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        p {
            width: 100%;
            text-align: center;
            margin-bottom: 0.5em;
        }
    }
}